@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    --background-color: #F7F7F7;
    --headers-color: #252B42;
    --paragraph-color: #737373;
    --names-color: #FF7B47;
    --inner-input-text-color: #BDBDBD;
    --button-background: #FF7B47;
    --button-border-radius: 5px;
    --footer-text-colot: #ffffff;
    letter-spacing: 0.02rem;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2 {
    font-size: 4rem;
    line-height: 5.7rem;
    color: var(--headers-color);
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
}

section{
    padding: 36px 35px 0px;
}

h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--headers-color);
    font-weight: 700;
    letter-spacing: 0.1px;
}

p {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--paragraph-color);
    font-weight: 500;
}

blockquote {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--paragraph-color);
    text-align: left;
    margin: 20px auto;
}

button {
    background-color: var(--button-background);
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

input {
    font-size: 1.4rem;
    font-weight: 600;
}

footer {
    background-color: var(--headers-color);
    padding: 36px 35px 0px;
}



.wrapper { 
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-nav{
    display: flex;
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

}

.header{
    padding-top: 36px;
}


.header-button {  
    padding: 0;
    border: none;
    background-color: transparent;
    max-height: 24px;
}

.section-default-bgrnd{
    background-color: var(--background-color);
}

.header-brend-link {
    font-size: 2.4rem;
    line-height: 3.2rem; /*указывать в % или коэфф. Рассчитывается как line-height/font-size*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--headers-color);
    text-decoration: none;
    letter-spacing: 0.01rem; /*лучше проверить всё это */

    margin-right: auto;
}

.header-nav-ul {
    
    font-size: 3rem;
    line-height: 4.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
    list-style-type: none;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 100px;
    padding: 0px;
    /* display: flex;
    flex-wrap: wrap;
    padding: 0px auto 0px auto; 
    align-content: center; */
}

.header-nav-ul-li {
    margin-bottom: 30px;
}

.header-nav-ul-text {
    text-decoration: none;
    color: var(--paragraph-color);
}

.main-brend-slogan {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--paragraph-color);
    text-align: center;
}

.paragraph-default-text-centered {
    text-align: center;   
}

.carts-ul {
    list-style-type: none;
    margin-top: 45px;
    padding-left: 0px;
}

.carts-ul-li{
    padding: 35px 40px;
    border: 1px solid #E8E8E8;
    margin-top: 30px;
}

.carts-ul-li-h-container{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    padding: 0px;

}

.carts-ul-li-header{
    display: inline;

    margin-left: 15px;
}

.blockquote-ul{
    padding: 0px;
    list-style-type: none;
    margin-top: 60px;
}

.blockquote-ul-li {
    padding: 30px 36px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin-bottom: 30px;
}

.blockquote-photo {
    float: left;
}

.blockquote-name-of-quoted {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--names-color);
    font-weight: 600;
    margin: 0px 0px 0px 65px;
}

.blockquote-proffession-of-quoted {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--headers-color);
    font-weight: 600;
    margin: 0px 0px 0px 65px;
}

.contacts-header {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--headers-color);
    font-weight: 700;
    text-align: left;
    margin: 0px;
    margin-top: 45px;
}

.form-header { 
    font-size: 4rem;
    line-height: 5.7rem;
    color: var(--headers-color);
    font-weight: 700;
    margin: 0px;
    margin-bottom: 40px;
}

.form-field {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--inner-input-text-color);
    
    padding: 11px auto 15px 20px;
}

.forms-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
}

.label-style {
    visibility: hidden;
}

.paragraph-prev-footer {
    margin-top: 0px;
    margin-bottom: 50px;
}

#last-section-header {
    text-align: left;
    margin-bottom: 0px;
}

.footer-header {
    color: #fff;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.1px;
    text-align: left;
    margin: 40px auto 50px;
}

.footer-list-header {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
}

.footer-ul-text { 
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    margin-bottom: 10px;
}

.footer-ul-text-a {
    color: #fff; 
}

.video-background {
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,1) 50%, rgba(23,33,60,1) 50%);
}

.subcribe-container {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.subscribe-field {
    display: inline-flex;
    height: 60px;
    margin-right: -5px;
    border: solid #fff 2px;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height:60px;
    border: solid #fff 2px;
    
}


.footer-under-subscribe-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: #fff;
    margin: 0px;
}

#links-and-contacts {
    margin-top: 70px;
}

#form-section {
    background-image: url(../img/last_section_bckgrnd_img.png);
    background-position: center center;
    padding-top: 0%;
    padding-bottom: 85px;
}

#button-orange-get-now{
    display: flex;
    border: none;
    border-radius: 37px;
    height: 50px;
    width: 190px;
    
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 36px;
}

#link-learn-more{
    display: flex;

    width: 160px;
    height: 50px;
    border: 1px solid #0D5C63;
    border-radius: 37px;
    
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;

    margin: 25px auto 50px;
}

#message-field {
    width: 100%;
    display: flex;
    max-width: 600px;
    max-height: 140px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;

    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;

    padding: 16px auto auto 26px;
    margin-bottom: 40px;
}

#play-button {
    width: 100%;
    height: 440px;
    border: 1px solid #DEDEDE;
    background-position: center center;
    background-size:auto;
    background-image: url(../img/video_img.png);
}
